/* .about-container {
    padding: 0 3.5rem;
} */
.about-section {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 80px;
    padding: 0 3.5rem;
   
}
.about-section h3 {
    color: #858585;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 2px;
}
.about-section div {
    width: 50%;
}
.about-section div h1 {
    line-height: 1.2;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    width: 60%;
}
.about-section div p {
    color: #757575;
    opacity: 0.8;
    line-height: 1.5;
    width: 80%;

}

.row-1 {
display: flex;
justify-content: space-between;
position: relative;
align-items: center;
width: 90%;

padding: 0 3.5rem 0 3.5rem;

}

.row-1 div {
    width: 50%;
   
}

.row-1 .image-1 img{
    width: 40%;
    border-radius: 15px;
}
.row-1 .image-2 .line {
    border: 5px solid #32B477;
    position: absolute;
    top: 320px;
    left: -120px;
    width: 80%;
    transform: rotate(-45deg);
    z-index: -1;
}
.row-1 .image-1 .box-btn {
    border-radius: 15px;
    width: 200px;
    height: 70px;
    background: linear-gradient(263.68deg, #5AAF87 4.04%, #D3BD00 127.52%);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    position: absolute;
    top: -90px;
    left: 30px;

}
.row-1 .box-btn-b {
    border: 1px solid #5AAF87;
    backdrop-filter: blur(19px);


    width: 180px;
    height: 70px;
    position: absolute;
    top: -20px;
    left: 40px;
    border-radius: 15px;
    z-index: -1;
}
.row-1 .image-1 .box-btn img {
    width: 15%;
    
}
.row-1 .box-btn span {
    margin-right: 15px;
}
.row-1 .image-2 {
    position: relative;
}
.row-1 .image-2 img{
height: 100%;
 max-width: none;
    width: auto; /* Maintain aspect ratio */
    position: absolute; /* Allows the image to position itself within the div */
    top: 0px; /* Adjust this value to pull the image out of the div */
    left: 50%; /* Center the image horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    z-index: 1; /* Higher z-index to come in front of other elements */
    
}
.row-1 .image-2 {
 background: linear-gradient(270.28deg, #D3BD00 -27.3%, #5AAF87 117.41%);

height: 292px;
width: 292px;
position: relative; /* Required for z-index to work */
top: -40px;
border-radius: 15px;

}
.row-1-con {
    width: 100%;
    background: linear-gradient(168deg, rgba(255,255,255,0.6529936974789917) 66%, rgba(91,251,148,0.37316176470588236) 100%);
}

.row-1 .box {
    width: 350px;
    height: 60px;
    color: #122038;
    text-align: center;
  
     padding: .5rem 1rem;
background: linear-gradient(90deg, rgba(250, 247, 247, 0.87) 0%, rgba(255, 255, 255, 0.845) 100%);

/* background: linear-gradient(110.49deg, rgba(255, 255, 255, 0.6) 7.36%, rgba(255, 255, 255, 0) 63.6%);;
    border-image-source: linear-gradient(110.49deg, rgba(255, 255, 255, 0.6) 7.36%, rgba(255, 255, 255, 0) 63.6%); */
    backdrop-filter: blur(19px);

  /* border: 1px solid rgba(255,255,255,1); */
   /* padding: .5rem;
   text-align: center; */
   border-radius: 10px;
   position: absolute;
   font-size: 24px;
   font-weight: 700;
   top: 270px;
   right: 70px;
   z-index: 2;
}
.row-1 .box p {
    font-size: 16px;
}
.row-2-con  {
    width: 100%;
    background: linear-gradient(32deg, rgba(255,255,255,0.9529936974789917) 46%, rgba(91,251,148,0.37316176470588236) 100%);
}
.row-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0 0 3.5rem;
    width: 77%;
    gap: 3rem;
    padding-top: 70px;
    
}
.row-2 div {
    width: 50%;
    
   
}
.row-2 .image-1 {
    
position: relative; /* Required for z-index to work */
background: linear-gradient(269.18deg, #F27405 6.87%, #D3BD00 118.13%);
height: 208px;
width: 208px;
border-radius: 15px;
}
.row-2 .image-1 img{
    width: 100%;
    border-radius: 15px;
    position: absolute;
    top: -30px;
   
}
.row-2 .box-btn img {
    width: 10%;
    position: absolute;
    right: 15px;
    top: 10px;
}
.row-2 .image-1 .box {
    position: absolute;
    width: 200px;
    height: 50px;
    color: #122038;
    text-align: center;


background: linear-gradient(90deg, rgba(250, 247, 247, 0.87) 0%, rgba(255, 255, 255, 0.845) 100%);

/* background: linear-gradient(110.49deg, rgba(255, 255, 255, 0.6) 7.36%, rgba(255, 255, 255, 0) 63.6%);;
    border-image-source: linear-gradient(110.49deg, rgba(255, 255, 255, 0.6) 7.36%, rgba(255, 255, 255, 0) 63.6%); */
    backdrop-filter: blur(19px);

  /* border: 1px solid rgba(255,255,255,1); */
   /* padding: .5rem;
   text-align: center; */
   border-radius: 10px;
   position: absolute;
   font-size: 24px;
   font-weight: 700;
   top: 40px;
   right: 150px;
   z-index: 2;
   display: inline-flex;
   justify-content: center;
   align-items: center;
}
.row-2 .box p {
    font-size: 16px;
}
.row-2 .image-2 {
    position: relative; /* Required for z-index to work */
    box-shadow: 0 4px 10px rgb(237, 237, 237); /* White shadow */
height: 208px;
width: 208px;
border-radius: 15px;


}
.row-2 .image-2 img {
    height: 100%;
    width: auto;
    border-radius: 15px;
    position: absolute;
    padding: 1.5rem;
    
}
.row-2 .image-2 .box-btn img {
width: 20%;

}
.row-2 .image-2 .box {
    position: absolute;
    width: 160px;
    height: 50px;
    color: #122038;
    text-align: center;


background: linear-gradient(90deg, rgba(250, 247, 247, 0.87) 0%, rgba(255, 255, 255, 0.845) 100%);

/* background: linear-gradient(110.49deg, rgba(255, 255, 255, 0.6) 7.36%, rgba(255, 255, 255, 0) 63.6%);;
    border-image-source: linear-gradient(110.49deg, rgba(255, 255, 255, 0.6) 7.36%, rgba(255, 255, 255, 0) 63.6%); */
    backdrop-filter: blur(19px);

  /* border: 1px solid rgba(255,255,255,1); */
   /* padding: .5rem;
   text-align: center; */
   border-radius: 10px;
   position: absolute;
   font-size: 24px;
   font-weight: 700;
   top: 180px;
   right: 25px;
   z-index: 2;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: 0 .5rem;
}
.row-2 .image-2 .box-btn-l {
    border-radius: 15px;
    width: 200px;
    height: 70px;
    background: linear-gradient(264.61deg, #24343E -97.02%, #5AAF87 133.21%);

    backdrop-filter: blur(19px);

    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    position: absolute;
    top: 300px;
    left: 50px;
  
}
.row-2 .image-2 .box p {
    font-size: 12px;
}
.row-2 .box-btn-l span {
    margin-right: 15px;
}
.row-2 .image-2 .box-btn .arrow-right {
    padding: 0;
    height: auto;
    width: 10%;
}
.row-2 .image-2 .box-btn-l img {
    width: 15%;
    position: relative;
    height: auto;
    padding: 0;
}

.row-3 {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    margin-top: 15rem;
}
.row-3 .content {
    width: 40%;
    height: auto;
    background: #5FB083;
    padding-left: 8rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 140px;
}
.row-3 .content h1 {
    line-height: 1;
    margin-bottom: 30px;
    justify-self: flex-start;
    align-self: flex-start;
    font-size: 32px;

}
.row-3 .box-btn {
    width: fit-content;
    cursor: pointer;
    display: flex;
    gap: 10px;
    background: linear-gradient(263.68deg, #5AAF87 4.04%, #D3BD00 127.52%);
    padding: .5rem;
   margin: 15px 0;
 justify-self: flex-start;
 align-self: flex-start;

}
.row-3 .content p {
    line-height: 1.5;
    font-size: 18px;
    font-weight: 500;
   
}
.row-3 .image-1 {
    background: linear-gradient(310deg, rgba(18,32,56,1) 66%, rgb(87, 99, 49) 100%);

    width: 60%;
    height: auto;
    position: relative;
    border-top-left-radius: 40px;
    padding: 3rem;

}
.row-3 .image-1 div {
    width: 100%;

}
.row-3 .image-1 div img {
    width: 100%;
    height: auto;
 
}
.row-3 .image-1 .logo {
    width: 5%;
    position: absolute;
    top: 10px;
    right: 50px;
}